<!DOCTYPE html>
<head>
  <title>Very simple memcache</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/keys_list.css') }}" />
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}" />
</head> 
<html>
  <body>
    <h2>Keys List</h2>
    {% include "navbar.html" %}
    <table id="keys">
      <div>Total Keys: {{ length }}</div>
      <tr>
        <th>Key </th>
      <tr>
      {% for key in keys %}
        <tr>
          <td>{{ key }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
